<footer>
  <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <div class="topofooter">
          <a href="https://github.com/renatafloro/SeboVirtual ">

            <i  class="fa fa-instagram insta"  style="font-size:36px;color:#6AAAAA;"></i>
            <i class="fa fa-github" style="font-size:36px;color:#6AAAAA;"></i>
            <i class="fa fa-twitter twit" style="font-size:36px;color:#6AAAAA"></i>
             </a>



    </div>
    <div>

        <p>© 2022 XPERIENCE BOOK | Brazil | xperiencebook@email.com</p>
    </div>


    <div class="repoGit">

                <a href="https://github.com/renatafloro/SeboVirtual" target="_blank" class="Github">

                </a>
         </div>

</footer>
