<div class="container">
  <br>
  <h2>Todos os produtos</h2>
  <hr>
  <br>
  <div>
  <select type="text" #fcategorias="ngModel"  ngModel name="categoria" aria-placeholder="categoria" >
    <option *ngFor="let categoria of categorias" value="{{categoria.id}}">
      {{categoria.nome}}
    </option>
  </select>
  </div>
  <br>
  <br>
  <br>
  <div class="row d-flex justify-content-center">
    <div class="produto-card">
      <div class="card"  *ngFor="let produto of listaProdutos">
       
        <hr>
        <div class="card-body p-0">
            <p class="card-text text-center fw-bold text-nowrap elipse m-1 fs-6">
              {{produto.categoria.nome}}
            </p>
        <div class="card-body p-0">
          <p class="card-text text-center fw-bold text-nowrap elipse m-1 fs-6">
            {{ produto.descricao }}
          </p>
          <div class="card-text text-center fw-bold text-nowrap elipse m-1 fs-6">
            <small class="m-1 font">Valor: R${{produto.preco}} </small>
          </div>
        </div>
        <hr>
        <button class="btn w-100 comprar" (click)="getProdutoById(produto.id)" routerLink="/carrinho">
            <i class="fa fa-cart-plus mr-2" aria-hidden="true"></i>
            <span>Comprar</span>
        </button>
      </div>
    </div>
  </div>
</div>