.card-text{
font-weight: bold
}.font {
font-size: 1rem
}.card {
border-radius: 10%;
padding: 20px;
margin: 7px;
}.card:hover{
transform: scale(1.05);
transition-duration: 0.3s;
transition-timing-function: ease-in;
transition-property: all;
}hr{
margin: 0;
}.comprar:hover{
background-color: #283618;
color: white
}

