<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="nav-b navbar-collapse collapse w-100 order-0 order-md-0 dual-collapse2">

     <div class="dropdown">
      <button class="dropbtn"> <img src="../assets/img/MENU.png" alt="#" width="35px" height="40px"></button>

      <div class="dropdown-content">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="sobre">Sobre</a></li>
        <li><a routerLink="produto">Livros</a></li>
        <li> <a *ngIf="usuarioConectado && administrador== false" routerLink="minhas-compras">Minhas Compras</a></li>
        <li> <a *ngIf="administrador == true" routerLink="cadastroproduto">Cadastrar</a></li>
      </div>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span class="x">X</span>
        <span class="name">perience Book</span>
      </li>
    </ul>
  </div>


  <div class="mx-auto order-0">
    <a routerLink="home">
      <img src="../assets/img/logo.png" alt="Logo" width="60" height="60">
    </a>
  </div>


  <div class=" nav-c navbar-collapse collapse w-100 order-3 dual-collapse2" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto">
      <li>
        <label *ngIf="usuarioConectado == true">Bem vindo(a)</label>
        <label *ngIf="administrador == true">Vendedor</label>
        <label *ngIf="usuarioConectado == false"> </label>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="login"> <i class="fa fa-user i"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="administrador==false" aria-current="page" routerLink="carrinho"> <i class="fa fa-shopping-cart i"></i></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" *ngIf="usuarioConectado" aria-current="page" (click)="logout()"> <i class="fa fa-sign-out"></i></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<app-rodape></app-rodape>

