.navbar{
    background-color: #FFFAF9;  
}

.nav-item{
    padding: 10 10px;
    
}
.x{
    color: #6AAAAA;
    font-family: 'Almendra SC';
    font-style: normal;
    font-size: 30px;
}
.name{
    color: #6AAAAA;
    font-family: 'Akshar';
    font-size: 20px;
    font-weight: bold;
}
.mx-auto:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}

.nav-link{
    color: #6AAAAA;
    font-family: 'Akshar';
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    letter-spacing: 2px;
}
.nav-link:hover{
    transform: scale(1.1);
    color: #F89C8B;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
   
}
.fa{
    color: #6AAAAA;
    padding: 6px;
}

.fa:hover {
    transform: scale(1.2);
    color: #F89C8B;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}