<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="../assets/img/logo.png" alt="" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="" class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="consultaproduto">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cadastroproduto">Cadastrar</a>
        </li>
       <li class="nav-item">
          <i class="nav-link active" aria-current="page" i class="fa fa-shopping-cart i"  routerLink="carrinho">  </i>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" (click)="logout()"> <i class="fa fa-sign-out"></i></a>
      </li>
      </ul>
    </div>
  </div>
  <label *ngIf="!usuarioLogado.email">{{usuarioLogado.nome}}</label>
</nav>

<router-outlet></router-outlet>
<app-rodape></app-rodape>
