.navbar{
    background-color: #FFFAF9;
   
}
.nav-link{
    color: #6AAAAA;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    letter-spacing: 2px;
}
.nav-link:hover{
    transform: scale(1.1);
    color: #F89C8B;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
   
}
.fa{
    color: #6AAAAA;
}

.fa:hover {
    transform: scale(1.2);
    color: #F89C8B;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}