<div class="container">
    <h1 class="text-center">Edição de Produtos</h1>
    <input class="form-control" type="text" placeholder="Informe a descrição do livro" [(ngModel)]="produto.descricao" />
    <br>
    <input class="form-control" type="text" placeholder="Informe o preço do livro" [(ngModel)]="produto.preco" />
    <br>
    <input class="form-control" type="text" placeholder="Informe o estoque do livro" [(ngModel)]="produto.estoque" />
    <button class="btn btn-primary mt-3" (click)="atualizar()">Gravar</button> {{ msg }}
    <button routerLink="/cadastroproduto" type="reset" class="btn btn-danger mt-3">Cancelar</button>
</div>
