h2{
  text-align:start;
  margin-left: 40px;
  font-weight: bolder;
  color:#F89C8B ;
  margin-top: 30px;
  font-size: 32px;
  text-align: center;
}

hr{
color: #6AAAAA;
}

.text-sobre p{
font-weight: bolder;
letter-spacing: 1px;
text-align:center;
font-size: 25px;
margin-top: 2%;
color:#6AAAAA;
}

.p-1{
font-size: 18px;
text-align: justify;
letter-spacing: 1px;
color:black;

}

.img-sobre{
margin-top: 10px;
width: 100%;

}

#container {
display: inline-block;
position: relative;
}

#container figcaption {
position: absolute;
margin-left: 800px;
margin-right: 50px;
top: 70px;
right: 20px;
font-size: 23px;
text-align: justify;
font-family: 'Akshar';
color: black;

}

#container button{
position: absolute;
margin-left: 500px;
margin-right: 200px;
top: 220px;
right: 20px;
}

button{
color: #FEFAE0;
font-weight: 800;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
letter-spacing: 3px;
background-color: #6AAAAA;
width: 150px;
height: 35px;
border-radius: 25px;
border-color:   #F89C8B;
box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.29);

}

button:hover {
transform: scale(1.05);
transition: 0.3s;
}

span{
text-align: center;
font-family: Akshar;
font-size: 25px;
display: block;
}

p{
font-size: 18px;
margin-left: 30px;
margin-right: 30px;
}

.id-visual {
margin-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 50px;
width: 100%;
}

.id-visual h1{

font-size: 30px;
letter-spacing: 2px;
font-weight: bolder;
margin-left: 5%;
color: #6AAAAA;
}

.id-visual p {
font-size: 18px;
letter-spacing: 1px;
margin-right: 20px;
text-align: justify;
text-decoration:dotted;
color: black;
}

.paleta-img img {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 15%;
margin-top: 4%;
width: 350px;

}
.paleta-img{
  min-width: 400px;
}

.foto-git {
display: flex;
justify-content: center;
flex-wrap: wrap-reverse;
}

.dev-h1 h1{
margin-top: 5%;
font-size: 30px;
letter-spacing: 3px;
text-align: center;
color: #6AAAAA;
background-color: #FAEEEA;
}

.dev {
display: flex;
flex-direction: column;
align-items: center;
min-width: 25%;
margin: 50px 0;
}

.img-dev {
display: flex;
align-items: center;
flex-direction: column;
}

.img-dev a img {
width: 185px;

}

.img-dev a img:hover {
transform: scale(1.09);
transition-duration: 0.4s;
transition-timing-function: ease-in;
transition-property: all;
}

.img-dev p {
font-weight: bolder;
margin-top: 20px;
letter-spacing: 5px;
font-size: 18px;
color: #F89C8B;
}
.id-text{
  width: 500px;
}

@media(max-width: 1232px){
  figcaption {
    display: none;
  }
button{
 display: none;

}
}

