<h2>Sobre a Xperience Book</h2>
<hr>
 <div class="text-sobre">
<p>Quem não gosta de ser surpreendido(a) com uma boa história?</p>
</div> 
  <p class="p-1">A Xperience Book é uma empresa com foco total na experiência do leitor. Partimos do princípio 
    de que um livro não deve ser julgado pela sua capa e sim pelo seu conteúdo, e temos o comprometimento 
    de entregar o tipo de história que nossos leitores e leitoras buscam, com base nas características
    que os mesmos selecionam! Afinal, o título torna-se irrelevante quando sabemos que tipo de leitura estamos buscando.
  </p>

  <figure id="container">
    <img class="img-sobre" src="../../assets/img/imagem livro.png" alt="livro">
    <figcaption>Navegue através do nosso acervo de seminovos, selecione as categorias que mais lhe chamam atenção e seja supreendido com histórias fantásticas!</figcaption>
    <button routerLink="/produto">Clique aqui</button>
  </figure>
  

<div class="id-visual">
  <div class="id-text">
      <h1>Nossa identidade visual</h1>
      <p>Escolhemos essa paleta de cores com objetivo de transmitir leveza, delicadeza e bem-estar.
        Gostaríamos que nossos leitores, ao visitarem nosso site, sintam o aconchego de adentrar uma livraria e sintam-se inclinados a mergulhar em uma bela história.</p>
  </div>
  <div class="paleta-img">
      <img src="../../assets/img/paleta.png" alt="paleta">
  </div>
</div>

<br>

<div class="dev-h1">
  <h1>Equipe de Desenvolvedoras</h1>
</div> 
<div class="desenvolvedoras">
 <div class="foto-git">
      <div class="dev">
          <div class="img-dev">
              <a href="https://github.com/JadyLinnit" target="_blank"><img src="../../assets/img/jady.png"
                      alt="jady"></a>
              <p>Jady Linnit</p>
            </div>
      </div>

      <div class="dev">
        <div class="img-dev">
            <a href="https://github.com/Pamela-WMachado" target="_blank"><img src="../../assets/img/pamela.png"
                    alt="pamela"></a>
            <p>Pamela Machado</p>
          </div>
    </div>

      <div class="dev">
          <div class="img-dev">
              <a href="https://github.com/renatafloro" target="_blank"><img src="../../assets/img/renata.png"
                      alt="renata"></a>
              <p>Renata Floro</p>
          </div>
      </div>

      <div class="dev">
          <div class="img-dev">
              <a href="https://github.com/Sabrynascully" target="_blank"><img src="../../assets/img/sabrina.png"
                      alt="sabryna"></a>
              <p>Sabryna Marques</p>
          </div>
      </div>
    </div>
</div>