<h2>Um pouco da Xperience Book</h2>
<hr>
<p><span> Quem não gosta de ser surpreendido(a) com uma boa história?</span>
  <br>
  A Xperience Book é uma empresa com foco total na experiência do leitor. Partimos do princípio de que um livro não deve ser julgado pela sua capa e sim pelo seu conteúdo e temos o comprometimento de entregar o tipo de história que nossos leitores e leitoras buscam, com base nas características que os mesmos selecionam! Afinal, o título torna-se irrelevante quando sabemos que tipo de leitura estamos buscando.</p>
 <h3>Valores</h3>



  <div class="container">
 <h3 class="class-h3">Nossa Indentidade Visual</h3>
</div>
<br>
<p>Escolhemos essa paleta de cores com objetivo de <br> transmitir leveza, delicadeza e bem-estar. <br>
  Gostaríamos que nossos leitores, ao visitarem <br> nosso site, sintam o aconchego de adentrar uma <br> livraria e sintam-se inclinados a mergulhar em <br> uma bela história. </p>
