.imagem-fundo-cadastro{
  max-width: 90%;
  margin-left: 10%;
  margin-top: 5%;
}

.container-fluid {
  background-color: #F8F0E8;
  
}


input {
  border-radius: 25px;
  background-color: #FCF7F2;
  border-color: #6AAAAA;
}

input:focus{
  border-color: #6AAAAA !important;
}

select {
  border-radius: 25px;
  background-color: #FCF7F2;
  border-color: #6AAAAA;
}

h1 {
  color: #263238;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

label {
  color: #263238;
  font-family: 'Akshar';
  font-weight: bold;
}

hr {
  color: #6AAAAA;
}

::placeholder{
  font-family: 'Akshar';
}

select{
  font-family: 'Akshar';
}

option{
  font-family: 'Akshar';
}

.btn {
  background-color: #F89C8B;
  border-radius: 25px;
  border-color: #6AAAAA;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.btn:hover {
  background-color: #6AAAAA;
  color: white;
}
.li-ec{
  font-family: 'Akshar';
  font-weight: bold;
  color: #6AAAAA;
}

p{
  font-family: 'Akshar';
  font-weight: bold;
  color: #F89C8B;
}

.ng{
  font-family: 'Akshar';
  font-weight: bold;
}