h2{
color: #263238;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 32px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #6AAAAA;
color:  #F89C8B;
}

.card-text{
font-weight: bold;
word-wrap: break-word;
font-size: 12px

}
.font {
font-size: 1rem
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
    margin: 1%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    height: 140px;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    background-color: #F8F0E8;
    overflow: hidden;
}

.card:hover{
transform: scale(1.10);
transition-duration: 0.3s;
transition-timing-function: ease-in;
transition-property: all;
}

hr{
margin: 0;
color: #F89C8B;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comprar:hover{
background-color:#F89C8B;
color: white;
}

small{
    font-weight: bold;
    color: #6AAAAA;

}

/*barra de pesquisa*/
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Akshar';
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #F89C8B;
  padding-right: 40px;
  color:black;
}
.input-search::placeholder{
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 12px;
  border-bottom:1px solid black(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


