<div id="container">
    <div class="row">
        <div class="col-md-5 d-flex flex-column justify-content-center">
            <h2>Minhas Compras</h2>
            <div class="media">
              <div >
                <img class="mr-3" src="../../assets/img/robo.png" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <h3>Seu pedido foi registrado.</h3>
                <p class="media-descri_1">Em breve entraremos em contato sobre informações de pagamento e entrega.</p>
                <p class="media-descri_1">Obrigada por escolher a Xperience Book!</p>
              </div>
            </div>
        </div>
      <div class="col-md-3 mx-auto-md ml-5 img" >
        <img src="../../assets/img/minhas-compras.png" alt="imagemCarrinho" width="450px" height="300px">
      </div>
    </div>
  <br>
  <div>
    <div *ngFor="let venda of listaVendas">
      <div class="minhas-compras">
        <div class="dateId">
            <div class="data">
                <p>Data da compra: {{venda.data | date:'dd/MM/yyyy'}}</p>
              </div>
              <div class="id">
                <p>Número do pedido: {{venda.id}}</p>
              </div>
              <div class="valor-total">
                <p>
                  VALOR TOTAL: R$ {{venda.valorTotal}}
                </p>
              </div>
        </div>

        <div class="produto">
            <table class="table">
                <thead class="">
                    <tr>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of venda.carrinho">
                        <td> {{item.produto.categoria.nome}}</td>
                        <td> {{item.produto.descricao}}</td>
                        <td> R$ {{item.produto.preco}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

