* {
  margin: 0;
  padding: 0;
}

#container {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  }

h2{
  margin-right: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: bold;
  color:  #F89C8B;
  font-size: 40px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6AAAAA
}
.media{
  margin-top: 30px;
  margin-left: 5px;
  border-radius: 20px;
  border-color: #F89C8B;
  border-style: dashed;
  /* height: 130px; */

}
.mr-3{
  margin-top: 10px;
  height: 100px;
  margin-left: 15px;
}
.media-body{
  margin-top: 9px;
  text-align: start;
}
.h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.minhas-compras {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px auto;
  height: 280px;
  border: 1px solid #F89C8B;
  border-radius: 20px;
  max-width: 600px;
  padding: 10px;
  }
  .minhas-compras p{
   margin-top: 30px;
  }
.card-title{
  font-size: 25px;
  margin-left: 840px;
  margin-top: 5px;
}
.dateId{
  position: relative;
  padding: 2vw;
  text-align: center;
  font-size: 18px;
}
.data{
 display: inline-block;
 text-align: start;
 float: left;

 }
.id{

  text-align: start;

}
.valor-total{
  margin-top: 100px;
  font-weight: bolder;
  padding-bottom: 15px;
}
.table{
  background-color: #FFC8B7;
  border-radius: 20px;
}
.media-body .media-descri_1{
  margin-bottom: 5px;
}

.media-body h3 {
  margin-bottom: 5px;
}

@media(max-width: 516px){
.img img {
max-width: 70%;


}
.minhas-compras{
  display: block;
}
.valor-total{
  margin-top: 50px;
}
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
