<div id="container">
  <div class="title  ">

    <div>
      <div class="row">
        <div class="col-md-5 img flex-wrap ">
          <img src="../../assets/img/carrinho.png" alt="imagemCarrinho" width="70%" height="250px">

        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h2>Carrinho de compras</h2>
        </div>
      </div>
    </div>
    <br>
    <div class="carrinho-produto">
      <div class="lista-compras" *ngFor="let item of listaProdutos">
        <div class="foto-produto">
          <img [src]="item.foto" alt="foto do produto" />
        </div>
        <div class="descricao">
          <p>Categoria: {{ item.categoria.nome }}</p>

          <p class="descricao">Descricao: {{ item.descricao }}</p>
        </div>
        <div class="valor">
          <h4> Preço: {{ item.preco | currency: "BRL" }}</h4>
        </div>
        <div>
          <button class="delete" (click)="excluir(item.id)">X</button>
        </div>
      </div>
      <div class="carrinho-final">
        <h5 class="valor-total">
          VALOR TOTAL: {{ valorTotal | currency: "BRL" }}
        </h5>
        <hr>
        <div class="buttons flex-wrap">
          <button class="btn btn-block limpar" (click)="limpar()" routerLink="/produtoslista">Limpar carrinho</button>
          <button class="btn btn-block" routerLink="/produto">Continuar comprando</button>
          <button class="btn btn-block" (click)="finalizar()">Finalizar compra</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
