.navbar{
    background-color: #FFFAF9;
}

.nav-item{
    padding: 10 10px;

}
.x{
    color: #F89C8B;
    font-family: 'Artifika';
    font-style: normal;
    font-size: 30px;
    margin-left: 10px;
}
.name{
    color: #6AAAAA;
    font-family: 'Akshar';
    font-size: 24px;

}

.nav-link{
    color: #6AAAAA;
    font-family: 'Akshar';
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    letter-spacing: 2px;
}
.nav-link:hover{
    transform: scale(1.1);
    color: #F89C8B;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;

}
.fa{
    color: #6AAAAA;
    padding: 6px;
}

.fa:hover {
    transform: scale(1.2);
    color: #F89C8B;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}

/*DROPDOWN MENU*/
.dropbtn {
  background-color: #FFFAF9;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 42px;
  min-width: 120px;
  z-index: 1;
  background-color: #F89C8B;
  border-radius: 8px;
}

.dropdown-content a {
  font-family: 'Akshar';
  color: black;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #FFFAF9;
  border: 1px solid #6aaaaa9c;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {display: block;}

li {
  list-style-type: none;
}

label {
  font-family: 'Akshar';
  color:  #6AAAAA;
  font-weight: bold;
  margin-right: 14px;
  margin-top: 6px;
  font-size: 19px;
}

@media(max-width: 776px){
  .nav-b{
    display: block !important ;
  }
  .nav-c {
    display: block !important ;
    margin: 0 auto !important;
  }
  .name{
    display: none;
  }
  .x{
    display: none;
  }
}
