<div class="container-fluid">
<div class="container">
    <br>
    <h1>Cadastrar Livros</h1>
    <hr>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">

        <div class="ng">
        <input required minlength="5" class="form-control" type="text" #fdescricao="ngModel" ngModel name="descricao" placeholder="Informe a Descrição" />
        <div *ngIf="fdescricao.errors?.['required']" class="ng-invalid">
        *Informe a descrição do livro
        </div>
        <br>
        <input required minlength="1" class="form-control" type="number" #festoque="ngModel" ngModel name="estoque" placeholder="Informe o Estoque do Livro" />
        <div *ngIf="festoque.errors?.['required']" class="ng-invalid">
        *Informe o estoque do livro
        </div>
        <br>
        <input required class="form-control" type="text" #fpreco="ngModel" ngModel name="preco" placeholder="Informe o Preço do Livro" />
        <div *ngIf="fpreco.invalid" class="ng-invalid">
            *Informe o preço do produto
        </div>  
        <br>
        <select required class="form-control" type="text" #fcategorias="ngModel" ngModel name="categoria">
            <option *ngFor="let categoria of categorias" value ="{{categoria.id}}">
                {{categoria.nome}}
            </option>

        </select>
        <div *ngIf="fcategorias.invalid" class="ng-invalid">
            *Selecione a categoria do livro
        </div>   
        </div>

        <div class="mt-3 mb-3">
            <button [disabled]="f.invalid" class="btn btn-primary me-2">Salvar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>
<hr>
<div>
    <table class="table">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Estoque</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produtos">
                <td> {{ prod.id }}</td>
                <td> {{ prod.descricao }}</td>
                <td> {{ prod.estoque }}</td>
                <td> {{ prod.preco }}</td>
                <td> {{ prod.categoria.nome}}</td>
                <td> <a [routerLink]="['/produtos',prod.id]"><i class="material-icons">mode_edit</i></a></td>
                <td > <i role="button" class="material-icons" (click)="excluir(prod.id)">delete</i></td>
            </tr>
        </tbody>
    </table>
    
</div>
</div>
<router-outlet></router-outlet>
