<h2>Minhas Compras</h2>
<br>
<hr>
<div class="container">
    <table class="table">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Categoria</th>

        </thead>
        <tbody>
            <tr >
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>


            </tr>
        </tbody>
    </table>

</div>

<router-outlet></router-outlet>
