
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title></title>
</head>
<body>
    <br>
    <section class="center">
        <div class="texto">
            <h1>Não vendemos apenas livros, <br> e sim <span style="color:#F89C8B; font-weight: bold;">Xperiences</span> literárias. </h1>
            
        </div>
    </section>
    
</body>
</html>

