<section class="container-home">
  <div class="div-img">
    <img class="img-home" src="../../assets/img/SIte.png" alt="img-home">
  </div>
</section>

<section>
<div class="boxprincipal">
  <div class="container">
    <div class="box-img" id="img-romance">
      <img class="arte-img" id="img-rom" src="../../assets/img/Romance.png" alt="romanceimg">
    </div>
    <div class="box-img" id="img-fantasia">
      <img  class="arte-img" src="../../assets/img/Fantasia.png" alt="fantasiaimg">
    </div>
    <div class="box-img" id="img-terror">
      <img class="arte-img" id="img-ter"  src="../../assets/img/Terror.png" alt="terrorimg">
    </div>
    <div class="box-img" id="img-drama">
      <img class="arte-img" src="../../assets/img/Drama.png" alt="dramaimg">
    </div>
  </div>
</div>









</section>
