<section>
  <div class="container-home">
    <img class="img-home-principal" src="../../assets/img/imagemHome.png" alt="home">
  </div>
</section>
<section>
    <div class="segundasection">
    <div class="div-img">
      <img class="img-icons" src="../../assets/img/aviao (1).png" alt="aviao">
      <p>Enviamos Para todo Brasil</p>
    </div>
    <div class="div-img">
      <img class="img-icons-money" src="../../assets/img/pagamento.png" alt="pagamento">
      <p>Pague no pix ou boleto</p>
    </div>
    <div class="div-img">
      <img class="img-icons-email" src="../../assets/img/email.png" alt="email">
      <p>Envie sua avaliação por e-mail: <br>xperiencebook@gmail.com</p>

    </div>
  </div>
  </section>


<h2>Avaliações</h2>
<hr>

<section>
  <div class="terceirasection">
    <div class="divcomentario1">
      <img  class="imgcomentario1" src="../../assets/img/comentario1.png" alt="comentario1">
    </div>
    <div>
      <img class="imgcomentario1" src="../../assets/img/comentario2.png" alt="comentario2">
    </div>
    <div>
      <img class="imgcomentario1" src="../../assets/img/comentario3.png" alt="comentario3">
    </div>
  </div>
</section>
<h2>Categorias</h2>
<hr>
<section>
<div class="boxprincipal">
  <div class="container">
    <div class="box-img" id="img-romance">
      <img class="arte-img" id="img-rom" src="../../assets/img/Romance (1).png" alt="romanceimg">
    </div>
    <div class="box-img" id="img-fantasia">
      <img  class="arte-img" src="../../assets/img/Fantasia.png" alt="fantasiaimg">
    </div>
    <div class="box-img" id="img-terror">
      <img class="arte-img" id="img-ter"  src="../../assets/img/Terror.png" alt="terrorimg">
    </div>
    <div class="box-img" id="img-drama">
      <img class="arte-img" src="../../assets/img/Drama.png" alt="dramaimg">
    </div>
  </div>
</div>
</section>
