.arte-img{
 max-width: 200px;

}
.container{
display: flex;
flex-wrap: wrap;
 justify-content: space-around;
 align-items: baseline;

}
.boxprincipal{
  margin-bottom: 50px;
}

#img-romance{
  align-self: flex-end;
}
#img-terror{
  align-self: flex-end;
}

#img-ter{
height: 300px ;

}
#img-rom{

  height: 300px ;
}
#img-fantasia{
  align-self: flex-end;
}
#img-drama{
  align-self: flex-end;
}
.img-home{
  height: 230px;
  max-width: 100%;
}


@media(max-width:585px){
  .div-img{
  display: none;
  }
}
.imgcomentario1{
  width: 300px;
  margin:5px;
}
.terceirasection{
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 50px;

}
hr{
  background-color: #6AAAAA;
}
h2{
  font-family: Berkshire Swash;
  color: #6AAAAA;
  margin-left: 550px;

}

.img-home-principal{

  height: 250px;
  max-width: 300%;
}
.container-home{

  display: flex;
  justify-content: center;
  max-width: 100%;

}
.segundasection{
display: flex;
flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
}
.img-icons{
max-width: 50px;
margin-left: 50px;
}
p{
  font-family: Berkshire Swash;
  color: #6AAAAA;
}


