<section>
  <div class="container-home">
    <img class="img-home-principal" src="../../assets/img/imagemHome.png" alt="home">
  </div>
</section>
<section>
    <div class="segundasection">
    <div class="div-img">
      <img class="img-icons" src="../../assets/img/aviao (1).png" alt="aviao">
      <p>Enviamos Para todo Brasil</p>
    </div>
    <div class="div-img">
      <img class="img-icons-money" src="../../assets/img/pagamento.png" alt="pagamento">
      <p>Pague no pix ou boleto</p>
    </div>
    <div class="div-img">
      <img class="img-icons-email" src="../../assets/img/email.png" alt="email">
      <p>Envie sua avaliação por e-mail: <br> <span>xperiencebook@gmail.com</span></p>

    </div>
  </div>
  </section>


<h2>Avaliações</h2>
<hr>
<br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="../../assets/img/Avaliacao1.png" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/avaliacao2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/avaliacao3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2>Conheça algumas de nossas categorias</h2>
<hr>
<section>
<div class="boxprincipal">
  <div class="container">
    <div class="box-img" id="img-romance">
      <img [routerLink]="['/produto']" class="arte-img" id="img-rom" src="../../assets/img/Romance (1).png" alt="romanceimg">
    </div>

    <div class="box-img" id="img-fantasia">
      <img [routerLink]="['/produto']" class="arte-img" src="../../assets/img/Fantasia.png" alt="fantasiaimg">
    </div>
    <div class="box-img" id="img-terror">
      <img [routerLink]="['/produto']" class="arte-img" id="img-ter"  src="../../assets/img/Terror.png" alt="terrorimg">
    </div>
    <div class="box-img" id="img-drama">
      <img [routerLink]="['/produto']" class="arte-img" src="../../assets/img/Drama.png" alt="dramaimg">
    </div>
  </div>
</div>
</section>
<router-outlet></router-outlet>
