.livro__login{
  max-width: 80%;
  margin-top: 3%;
  margin-left: 12%;
}

html,body{
  height: 100%;
  overflow-y: hidden;
}

.container-fluid {
  background-color: #F8F0E8;
  width: 100%;
}

input {
  border-radius: 25px;
  background-color: #FCF7F2;
  border-color: #6AAAAA;
}

.btn {
  background-color: #F89C8B;
  border-radius: 25px;
  border-color: #6AAAAA;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.btn:hover {
  background-color: #6AAAAA;
  color: white;
}

h1 {
  color: #263238;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
  color: #263238;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

hr {
  color: #6AAAAA;
}

::placeholder{
  font-family: 'Courier New', Courier, monospace;
}

.li-ec{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #6AAAAA;
}

p{
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #F89C8B;
}
